# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
errors/
logs/
databases
*/static/fontawesome/*
#static/aurelia/*
private/deployment_folder

pip-log.txt
pip-delete-this-directory.txt
*/web2py/applications/*

# virtualenv
.venv
venv/
ENV/
static/apps_data
static/aurelia
static/aurelia_prev
sessions/
private/junk/
host_address.txt
gbs_haim.wpr
.web2py/
*.batch
*.tmp
