# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
errors/
logs/
databases/
static/aurelia
private/deployment_folder

pip-log.txt
pip-delete-this-directory.txt

# virtualenv
.venv
venv/
ENV/
static/gb_photos
static/aurelia
static/aurelia_prev
sessions/
private/junk/
host_address.txt
gbs_haim.wpr
