# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
errors/
logs/
databases/

pip-log.txt
pip-delete-this-directory.txt

# virtualenv
.venv
venv/
ENV/
static/gb_photos
sessions/
host_address.txt
