    <!--<script type="text/javascript" src="{!= URL(c='static/lib', f='angular.min.js') !}"></script>-->
    <script type="text/javascript" src="{!= URL(c='static/lib', f='angular.js') !}"></script>
    <!--<script type="text/javascript" src="{!= URL(c='static/lib', f='angular-animate.min.js') !}"></script>-->
    <script type="text/javascript" src="{!= URL(c='static/lib', f='angular-animate.js') !}"></script>
    <link rel="stylesheet" href="{!= URL(c='static/lib', f='angular-json-human.min.css') !}" />
    <script type="text/javascript" src="{!= URL(c='static/lib', f='angular-json-human.min.js') !}"></script>
    <script type="text/javascript" src="{!= URL(c='static/lib', f='angular-resource.min.js') !}"></script>
    <script type="text/javascript" src="{!= URL(c='static/lib', f='angular-route.min.js') !}"></script>
    <script type="text/javascript" src="{!= URL(c='static/lib', f='angular-sanitize.min.js') !}"></script>
    <!--<link rel="stylesheet" href="{!= URL(c='static/lib', f='bootstrap.min.css') !}" />-->
    <!--<script type="text/javascript" src="{!= URL(c='static/lib', f='bootstrap.min.js') !}"></script>-->
    <script type="text/javascript" src="{!= URL(c='static/lib', f='flow.js') !}"></script>
    <script type="text/javascript" src="{!= URL(c='static/lib', f='flow.min.js') !}"></script>
    <link rel="stylesheet" href="{!= URL(c='static/lib', f='font-awesome.min.css') !}" />
    <!--<script type="text/javascript" src="{!= URL(c='static/lib', f='jquery.min.js') !}"></script>-->
    <!--<script type="text/javascript" src="{!= URL(c='static/lib', f='jquery-ui.min.js') !}"></script>-->
    <script type="text/javascript" src="{!= URL(c='static/lib', f='lodash.js') !}"></script>
    <link rel="stylesheet" href="{!= URL(c='static/lib', f='ngDialog.min.css') !}" />
    <script type="text/javascript" src="{!= URL(c='static/lib', f='ngDialog.min.js') !}"></script>
    <link rel="stylesheet" href="{!= URL(c='static/lib', f='ngDialog-theme-default.min.css') !}" />
    <link rel="stylesheet" href="{!= URL(c='static/lib', f='ngDialog-theme-plain.min.css') !}" />
    <link rel="stylesheet" href="{!= URL(c='static/lib', f='select.min.css') !}" />
    <script type="text/javascript" src="{!= URL(c='static/lib', f='select.min.js') !}"></script>
    <link rel="stylesheet" href="{!= URL(c='static/lib', f='toaster.css') !}" />
    <script type="text/javascript" src="{!= URL(c='static/lib', f='toaster.js') !}"></script>
    <link rel="stylesheet" href="{!= URL(c='static/lib', f='trNgGrid.min.css') !}" />
    <script type="text/javascript" src="{!= URL(c='static/lib', f='trNgGrid.min.js') !}"></script>
    <script type="text/javascript" src="{!= URL(c='static/lib', f='ui-bootstrap-tpls.min.js') !}"></script>
    
    <script type="text/javascript" src="{!= URL(c='static/lib', f='angular-touch.min.js') !}"></script>
    <script type="text/javascript" src="{!= URL(c='static/lib', f='ng-file-upload.min.js') !}"></script>
    <script type="text/javascript" src="{!= URL(c='static/lib', f='scrollglue.js') !}"></script>
