<style>
    [scroll-glue]
    {
       height: 500px;
       overflow-y: scroll;
    }
</style>
<div style="background-color: lightgray;">
    <div class="row">
        <form class="form-horizontal" role="form">
            <div class="col-md-5" style="margin:5px;">
                <input style="font-size: 95%;margin-bottom:3px;float: left;width: 100%;" dir="rtl" 
                    type="text" ng-model="messages_filter" placeholder="{{T.enter_search_words}}" 
                    class="form-control input-small" />
           </div>
            <div class="col-md-6">
                <h4 style="width:100%;">{{chatroom_name}}</h4>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12" scroll-glue style="padding:10px;" id="scroll-area" >
                <ul>
                    <li ng-repeat="msg in messages | filter: messages_filter" style="margin-bottom: 15px;">
                        <span style="font-weight:bold;">{{msg.timestamp}}: {{msg.sender_name}}</span><br/>
                        <span ng-bind-html="msg.message"></span><br/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" style="padding:12px;">
                <textarea rows="3" placeholder="{{T.enter_your_message}}" style="width:100%;" ng-model="info.user_message"/>
                <a class="btn btn-primary btn-block" ng-click="send_message()">{{T.send_message}}</a>
            </form>
        </div>
    </div>
</div>

