<style>
    div.slide
    {
        position: relative;
    }
    button.face
    {
        border-radius: 50%;
        border-color: rgba(0, 0, 0, 0);
        border-style: solid;
        border-width: 2px;
        opacity: 0;
        position: absolute;
    }
    button.face:hover
    {
        border-color: rgba(255, 255, 0, 1.0);
        opacity: 0.5;
    }
</style>
<div class="slide" ng-click="mark_face($event)">
     <img ng-src="{{slide_path}}">
     <button class="face" ng-repeat="face in vm.faces" ng-click="handle_face(face, $event)" ng-style="place_face(face)" ng-attr-title="{{face.name}}"></button>
</div>