<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <input type="button" class="btn btn-default" style="width: 80%;margin-left:20px;margin-right:20px;" 
                       ng-click="toggle_member_object()" value="{{identify_object ? T.identify_object : T.identify_member}}" />
            </div>
            <div class="form-group">
                <input id="person_finder"
                    dir="rtl"
                    type="text" ng-model="person_finder.filter" placeholder="&#128270; {{T.start_typing_name}}" 
                    class="form-control" />
                <div style="position:absolute;min-width:300px;z-index:999;" ng-show="person_finder.filter" dir="rtl">
                    <div style="max-height:160px;overflow-y:auto;width:100%;background-color:lightgray;z-index:1;">
                        <div ng-repeat="person in item_lists.members | filter: filter_members_by_name" >
                            <a href dir="rtl" ng-click="identify_face(person)">{{person.full_name}} </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
