<link rel="stylesheet" href="gbs/static/froala/css/froala_editor.css">
<link rel="stylesheet" href="gbs/static/froala/css/froala_style.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/code_view.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/colors.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/emoticons.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/image_manager.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/image.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/line_breaker.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/table.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/char_counter.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/video.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/fullscreen.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/file.css">
<link rel="stylesheet" href="gbs/static/froala/css/plugins/quick_insert.css">
<style>
    .gender_icon
    {
        border: 0;
        background-color: rgba(0, 0, 0, 0)
    }
    .error
    {
        background-color: red;
    }
    .clean
    {
        background-color: inherited;
    }
    ul.photo-boxes
    {
        float: left;
        margin: 0;
        padding: 0;
    }
    ul.photo-boxes li 
    {
        margin:0;
        padding: 0;
        float: left;
    }
    a.photo-box img
    {
        margin: 0;
    }
    a.photo-box.photo-selected
    {
        border: 3px solid yellow;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
    a.photo-box.photo-unselected
    {
        padding: 0;
        margin: 0;
        border: 3px solid white;
        cusor: pointer;
    }
    a.photo-unselected:hover
    {
        border: 3px solid black;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
    #slides_control > div
    {
        height: 200px;
    }
    #slides_control img
    {
        margin:auto;
        width: 400px;
    }
    #slides_control 
    {
        position:absolute;
        width: 400px;
        left:50%;
        top:20px;
        margin-left:-200px;
    }
    .slide-list 
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .slide-list > li 
    {
        display: inline;
        position: relative;
    }
    .slide-list > li > div
    {
        position: absolute;
        opacity: 0.1;
        height: 20%;
        width: 10%;
        top: 40%;
        cursor: pointer;
    }
    .slide-list > li > div.next
    {
        right: 0%;
        color: white;
    }
    .slide-list > li > div.prev
    {
        left: 0%;
        color: white;
    }
    .slide-list > li > div:hover
    {
        opacity: 1.0;
    }
    .slide-list li div.expand
    {
        right: 45%;
        height: 45%;
        color: white;
    }
    .ngdialog-theme-default.ngdialog-fullscreen
    {
        padding: 0;
    }
</style>
<div class="row" dir="rtl">
    <div class="row" ng-show="false">
        <div class="col-md-11"></div>
        <div class="col-md-1">
            <button type="button" tabindex="-1" class="btn btn-default" ng-click="prev_member()" ng-disabled="dirty" >
                <i class="fa fa-large fa-chevron-right" ></i>
            </button> 
            <button type="button" tabindex="-1" class="btn btn-default" ng-click="next_member()" ng-disabled="dirty" >
                <i class="fa fa-large fa-chevron-left" ></i>
            </button> 
        </div>
    </div>
    <div class="row" ng-show="!actively_editing">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <ul class="nav nav-tabs">
                <li class="active" style="float:right;">
                    <a href="#tab1" data-toggle="tab">{{T.member_card}} {{member_info.Name}}<span ng-show="privileges.DEVELOPER">{{member_info.id}}</span></a>
                </li>
                <li>
                    <a href="#tab2" data-toggle="tab" style="float:right;">{{T.family_connections}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row horizontal">
        <div class="col-md-12" ng-show="!actively_editing">
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-4">
                            <img ng-src="{{member_photo.path}}" height="200"/>
                        </div>
                        <div class="col-md-3">
                            <table class="table noborder">
                                <tbody>
                                    <tr>
                                        <td>{{T.date_of_birth}}</td>
                                        <td>{{member_info.DateOfBirth}}
                                    <tr>
                                        <td>{{T.birth_place}}</td>
                                        <td>{{member_info.PlaceOfBirth}}
                                    </tr>
                                    <tr>
                                        <td>{{T.former_name}}</td>
                                        <td>{{member_info.FormerName}}
                                    <tr>
                                    <tr>
                                        <td>{{T.nick_name}}</td>
                                        <td>{{member_info.NickName}}
                                    <tr>
                                    <tr>
                                        <td>{{T.alia_date}}</td>
                                        <td>{{member_info.DateOfAlia}}
                                    </tr>
                                    <tr>
                                        <td>{{T.membership_date}}</td>
                                        <td>{{member_info.DateOfMember}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2" style="float:right">
                    <div class="row horizontal family-chains">
                        <table class="noborder">
                            <tr ng-show="family.parents && (family.parents.pa || family.parents.ma)">
                                <td class="relation-kind">{{T.parents}}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <button ng-show="family.parents && family.parents.pa" ng-click="handle_member(family.parents.pa.id)">{{family.parents.pa.name}}</button>
                                        </li>
                                        <li>
                                            <button ng-show="family.parents && family.parents.ma" ng-click="handle_member(family.parents.ma.id)">{{family.parents.ma.name}}</button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-show="family.siblings.length > 0">
                                <td class="relation-kind">{{T.siblings}}</d>
                                <td>
                                    <ul>
                                        <li>
                                            <button ng-repeat="sibling in family.siblings" ng-click="handle_member(sibling.id)">{{sibling.name}}</button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-show="family.spouses.length > 0">
                                <td class="relation-kind">{{T.spouses}}</d>
                                <td>
                                    <ul>
                                        <li>
                                            <button ng-repeat="spouse in family.spouses" ng-click="handle_member(spouse.id)">{{spouse.name}}</button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-show="family.children.length> 0">
                                <td class="relation-kind">{{T.children}}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <button ng-repeat="child in family.children" ng-click="handle_member(child.id)">{{child.name}}</button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="actively_editing" style="margin-top: 20px;" dir="rtl">
            <div class="col-md-4"></div>
            <div class="col-md-8" style="font-size:14px;">
                <div class="row toolbar">
                    <div class="col-md-10" style="padding-left:20px">
                        <div class="btn-group" style="margin-bottom:15px;">
                            <button type="button" tabindex="-1" class="btn btn-default" ng-click="next_member()" ng-disabled="dirty" >
                                <i class="fa fa-large fa-chevron-left" ></i>
                            </button> 
                            <button type="button" tabindex="-1" class="btn btn-default" ng-click="prev_member()" ng-disabled="dirty" >
                                <i class="fa fa-large fa-chevron-right" ></i>
                            </button> 
                            <a class="btn btn-default" href ng-class="{'btn-danger': ! member_info.gender}" ng-click="toggle_gender()" title="Gender">
                                <i class="fa fa-male fa-small" ng-show="member_info.gender=='M' || !member_info.gender"></i>
                                <i class="fa fa-female fa-small" ng-show="member_info.gender=='F'"></i>
                            </a>
                            <a class="btn btn-default" href ng-click="member_info.visible = !member_info.visible" title="Visibility">
                                <i class="fa" ng-class="visibility_class()"></i>
                            </a>
                            <a class="btn btn-default" href ng-click="save_edited_data()" title="Save" ng-disabled="!dirty" ng-class="{'btn-warning':dirty}">
                                <i class="fa fa-save"></i>
                            </a>
                            <a class="btn btn-default" href ng-click="cancel_edit_mode()" title="Cancel" >
                                <i class="fa fa-rotate-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>{{T.select_member_photo}}</h4>
                    <div style="margin: 20px; padding: 20px">
                        <ul class="nav navbar-left photo-boxes">
                            <li ng-repeat="image in images" >
                                <a ng-click="set_member_photo(image.id)" ng-class="photo_selected(image.id)" class="photo-box" >
                                    <!--style="margin:0;padding:0;border:2px solid;">-->
                                    <img height="80" ng-src="{{image.path}}" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <form class="form-horizontal" role="form">
                        <!--The left wing of the form-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="former_name" placeholder="Enter former name:" ng-model="member_info.FormerName" ng-disabled="true">
                                </div>
                                <label class="control-label col-md-3" for="former_name">{{T.former_name}}:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="former_first_name" placeholder="Enter former first name" ng-model="member_info.former_first_name">
                                </div>
                                <label class="control-label col-md-3" for="former_first_name">{{T.former_first_name}}:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="former_last_name" placeholder="Enter former last name" ng-model="member_info.former_last_name">
                                </div>
                                <label class="control-label col-md-3" for="former_last_name">{{T.former_last_name}}:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="birth_place" placeholder="Enter birth place" ng-model="member_info.PlaceOfBirth">
                                </div>
                                <label class="control-label col-md-3" for="birth_place">{{T.birth_place}}:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="DateOfBirth" ng-disabled="true" ng-model="member_info.DateOfBirth">
                                </div>
                                <label class="control-label col-md-3" for="birth_date">{{T.date_of_birth}}:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="date_of_death" placeholder="Enter death date" ng-model="member_info.date_of_death">
                                </div>
                                <label class="control-label col-md-3" for="date_of_death">{{T.date_of_death}}:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input id="father_finder" 
                                        type="text" ng-model="parents_finder.pa_filter" placeholder="{{place_holder}}" 
                                        class="form-control" />
                                    <div style="position:absolute;min-width:300px;z-index:999;" ng-show="show_pas_list()" dir="rtl">
                                        <div style="max-height:160px;overflow-y:auto;width:100%;background-color:lightgray;z-index:1;">
                                            <div ng-repeat="item in member_list() | filter: filter_pa_by_name" >
                                                <a href ng-click="set_father(item)">{{item.full_name}} </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="control-label col-md-3" for="father_finder">{{T.father_name}}:</label>
                            </div>
                        </div>
                        <!--The right wing of the form-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="member_name" placeholder="Enter member name" ng-model="member_info.Name" ng-disabled="true">
                                </div>
                                <label class="control-label col-md-3" for="member_name">{{T.member_name}}:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="first_name" placeholder="Enter first name" ng-model="member_info.first_name">
                                </div>
                                <label class="control-label col-md-3" for="first_name">{{T.first_name}}:
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="last_name" placeholder="Enter last name" ng-model="member_info.last_name">
                                </div>
                                <label class="control-label col-md-3" for="last_name">{{T.last_name}}:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="nick_name" placeholder="Enter nick name:" ng-model="member_info.NickName">
                                </div>
                                <label class="control-label col-md-3" for="nick_name">{{T.nick_name}}:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="DateOfBirth" ng-disabled="true" ng-model="member_info.DateOfBirth">
                                </div>
                                <label class="control-label col-md-3" for="birth_date">{{T.date_of_birth}}:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="birth_date" placeholder="Enter birth date" ng-model="member_info.birth_date">
                                </div>
                                <label class="control-label col-md-3" for="birth_date">{{T.date_of_birth}}:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input id="mother_finder" 
                                        type="text" ng-model="parents_finder.ma_filter" placeholder="{{place_holder}}" 
                                        class="form-control" />
                                    <div style="position:absolute;min-width:300px;z-index:999;" ng-show="show_mas_list()" dir="rtl">
                                        <div style="max-height:160px;overflow-y:auto;width:100%;background-color:lightgray;z-index:1;">
                                            <div ng-repeat="item in member_list() | filter: filter_ma_by_name" >
                                                <a href ng-click="set_mother(item)">{{item.full_name}} </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="control-label col-md-3" for="mother_finder">{{T.mother_name}}:</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <ul class="slide-list">
                <li ng-repeat="s in vm.slides track by $index" ng-show="vm.opts.index==$index">
                    <div class="next" ng-click="next_slide($event)"><i class="fa fa-chevron-right fa-3x" ></i></div>
                    <div class="prev" ng-click="prev_slide($event)"><i class="fa fa-chevron-left fa-3x" ></i></div>
                    <div class="expand" ng-click="expand_slide()"><i class="fa fa-expand fa-3x" ></i></div>
                    <img ng-src="{{ s.src }}" alt="slide number {{ $index }}" height="400px" ng-click="expand_slide()" />
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <h4>{{T.life_story}} {{member_info.Name || (member_info.first_name + ' ' + member_info.last_name)}}</h4>
            <div class="row" ng-show="actively_editing" style="font-size:14px;">
                <i class="fa fa-rotate-right" style="margin-left: 20px;margin-right:20px;" ng-click="next_version()"></i>
                <span style="margin-left:50px;margin-right:50px;">{{display_version}}</span>
                <i class="fa fa-undo" style="margin-left: 20px;margin-right:20px;" ng-click="prev_version()"></i>
            </div>
            <div id="life_story" dir="rtl" ng-bind-html="story_info.story_text" style="font-size:14px;">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="gbs/static/froala/js/froala_editor.min.js" ></script>
<script type="text/javascript" src="gbs/static/froala/js/froala_editor.min.js" ></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/align.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/code_beautifier.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/code_view.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/colors.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/draggable.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/emoticons.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/font_size.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/font_family.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/image.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/file.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/image_manager.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/line_breaker.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/link.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/lists.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/paragraph_format.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/paragraph_style.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/video.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/table.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/url.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/entities.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/char_counter.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/inline_style.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/save.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/fullscreen.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/quote.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/plugins/quick_insert.min.js"></script>
<script type="text/javascript" src="gbs/static/froala/js/languages/he.js"></script>