[Unit]
Description=Tornado Messaging

[Service]
ExecStart=/home/haim/PycharmProjects/web2PyProject/venv/bin/python3.8 /home/haim/PycharmProjects/web2PyProject/tol3/modules/websocket_messaging.py -k mykey -p 8888
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
