[Unit]
Description=Web2py Scheduler service www

[Service]
ExecStart=/usr/bin/python /home/www-data/web2py/web2py.py -K gbs_dev,gbs_dev,gbs_dev,gbs_dev,gbs_dev,gbs_dev 
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
